<!--<div class="wrapper">
    <mat-card *ngFor="let product of products; let i = index" class="card">
        <div class="top-section">
            <img #img id="image-container" src="../../assets/images/1.png" alt="">
            <div class="nav">
                <img #img1 (click)="changeImg(img,img1)" src="../../assets/images/1.png" alt="">
                <img #img2 (click)="changeImg(img,img2)" src="../../assets/images/2.png" alt="">
                <img #img3 (click)="changeImg(img,img3)" src="../../assets/images/3.png" alt="">
            </div>
            <div class="price">{{product.price}}</div>
        </div>

        <div class="product-info">
            <div class="name">{{product.name}}</div>
            <div class="dis">{{product.description}}</div>
           &lt;!&ndash; <a #btn class="btn" [@buttonTextStateTrigger]="buttonTextState"
               (@buttonTextStateTrigger.done)="buttonTextTransitioned(btn)"
               (click)="onAddToCart(product,btn)">ADD TO CART</a>&ndash;&gt;
            <button mat-button class="btn" (click)="onAddToCart(product)">{{buttonText}}</button>
        </div>
    </mat-card>

</div>-->

<div class="fullwidth">
    <div class="gallery">
        <figure class="item" *ngFor="let product of products; let i = index">
            <div class="img-wrap"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/46992/cl-01.png" alt="" /></div>
            <figcaption class="caption">
                <h3>{{product.name}}<br/>{{product.description}}</h3>
                <div class="btn-buy button" (click)="onAddToCart(product)">ADD TO CART</div>
                <button class="btn-details" href="#">See details</button>
            </figcaption>
        </figure>
    </div>
</div>
