/*nuemorphism*/
.layout {
    display: flex;
    flex-wrap: wrap;
    background-color: #cdd6d8;
    padding: 2em;
    font-family: arial;
    line-height: 1.5;
    font-size: 1.2em;
    color: #333;
}

img {
    margin: 0;
    display: block;
    max-width: 100%;
}

h2 {
    text-transform: uppercase;
}

.card--neumorphic {
    width: 280px;
    margin: 0 15px;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 6px 6px 16px 0 rgba(0, 0, 0, 0.25),
    -6px -6px 12px 0 rgba(255, 255, 255, 0.55);
    padding: 1.5em 1.5em 2em;
    text-align: center;
}

.card--neumorphic img {
    border-radius: 40px;
    margin-bottom: 1.5em;
    overflow: hidden;
}

.card--material {
    background: #eaeaea;
    margin: 0 auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

.card--material div {
    padding: 1.5em 1.5em 2em;
}

.layout > div {
    padding-bottom: 3em;
}

.name-and-price{
    display: flex;
}

.price{
    margin: auto;
}

.add-to-cart{
    padding: 2px 5px;
    box-shadow: 6px 6px 16px 0 rgba(0, 0, 0, 0.25),
    -6px -6px 12px 0 rgba(255, 255, 255, 0.55);
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    background-color: #cdd6d8;

}

/*.add-to-cart:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1), -4px -4px 10px white;
}*/

.add-to-cart:focus {
    outline: none;
    transform: scale(0.95);
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1), -4px -4px 10px white, 4px 4px 10px 0 rgba(0, 0, 0, 0.1) inset, -4px -4px 10px white inset;
}

@media screen and (min-width: 900px) {
    body {
        padding: 3em 2em;
    }

    .layout > div {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    .layout {
        display: flex;
        justify-content: center;
    }
}


