<!--<div class="homePage container">-->
<!--  <app-heading></app-heading>-->
<!--  <div class="body row">
    <app-wanted class="wanted col-xs-12 col-md-6"></app-wanted>
    <app-journey class="journey col-xs-12 col-md-6"></app-journey>
  </div>-->
<div class="main-container">
    <app-menu class="menu"></app-menu>
    <app-messages></app-messages>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
    <app-loading-indicator></app-loading-indicator>
    <div class="footer"></div>
</div>

<!--  <app-footer></app-footer>-->
<!--</div>-->
