.menu { grid-area: menu; }
.message { grid-area: message; }
.main { grid-area: main; }
.footer { grid-area: footer; }

.main-container {
  display: grid;
  grid-template-rows: 160px auto 30px;
  grid-template-columns: auto;

  grid-template-areas:
          'menu'
          'message'
          'main'
          'footer';
}
