<div class="container">

    <div class="card">
        <div class="envelope"></div>
        <p style="font-size: 80px">My Baby Ying
            <br>
            <em>I LOVE YOU</em>
            <br>
            <em>Happy</em>
            valentine's day!
            <br>

        </p>
        <div class="heart"></div>
        <div class="pyro">
            <div class="before"></div>
            <div class="after"></div>
        </div>
    </div>
    <div class="pyro">
        <div class="before"></div>
        <div class="after"></div>
    </div>

</div>
