<div class="mainContainer">
    <!-- form container -->

    <div class="formContainer">
        <!-- form header -->
        <div class="headerContainer">
            <h2 class="header">
                Let's Work together
            </h2>
        </div>

        <!-- input 1 -->

        <div class="inputContainer">
            <input
                    type="text"
                    id="firstNameInput"
                    class="inp"
                    placeholder="First Name"
            />
            <label for="firstNameInput" class="fNameLabel">First Name</label>
        </div>

        <!-- input 2 -->

        <div class="inputContainer">
            <input
                    type="text"
                    id="lastNameInput"
                    class="inp"
                    placeholder="Last Name"
            />
            <label for="lastNameInput" class="lNameLabel">Last Name</label>
        </div>

        <!-- input 3 -->

        <div class="inputContainer">
            <input type="email" id="emailInput" class="inp" placeholder="Email" />
            <label for="emailInput" class="emailLabel">Email</label>
        </div>

        <!-- input 4 -->

        <div class="inputContainer">
            <input
                    type="tel"
                    id="mobileInput"
                    class="inp"
                    placeholder="Mobile"
            />
            <label for="mobileInput" class="mobileLabel">Mobile</label>
        </div>

        <!-- input 5 -->

        <div class="inputContainer">
            <input
                    type="text"
                    id="msgInput"
                    class="inp"
                    placeholder="your message here"
            />
            <label for="msgInput" class="msgLabel">Your message here</label>
        </div>

        <!-- submit button -->

        <div class="btnContainer"><a href="" class="btn">Submit</a></div>
    </div>
</div>
