<div class="container">

    <div class="card">
        <div class="envelope"></div>
        <p style="font-size: 80px">莹莹宝宝
            <br>
            <em>我爱你</em>
            <br>
            情人节
            <br>
            <em>快乐！</em>
        </p>
        <div class="heart"></div>
        <div class="pyro">
            <div class="before"></div>
            <div class="after"></div>
        </div>
    </div>
    <div class="pyro">
        <div class="before"></div>
        <div class="after"></div>
    </div>

</div>
