:root {
    --purple: #a200ff;
    --blue: #0000ff;
    --black: #000000;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sans-serif";
    font-size: 16px;
}

/*body{
    margin: 0;
    padding:0;
    overflow: hidden;
}*/

.mainContainer {
    height: 600px;
    width: 100%;
    background: #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
    /*   flex-direction: column; */
}

.formContainer {
    height: 400px;
    width: 600px;
    background: #d8d8d8;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    box-shadow: -3px -3px 6px whitesmoke, 3px 3px 6px #3f3f3fb7;
}


.headerContainer {
    width: 500px;
    margin: 0 0 10px 0;
    color: var(--white);
    background: var(--purple);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
}

.header {
    font-size: 20px;
    padding: 3px;
}


.inputContainer {
    position: relative;
    background: transparent;
    /* border: 1px solid black; */
    height: 35px;
    width: 280px;
    margin: 0 5px;
}

.inputContainer:nth-child(6) {
    width: 95%;
}

.inputContainer input::placeholder {
    /* opacity: 0; */
    color: transparent;
}

.inputContainer .inp {
    padding: 0 10px;
    height: 35px;
    width: 100%;
    border-radius: 0.75rem;
    outline: none;
    /* border: 2px solid var(--purple); */
    border: 0;
    background: #dfdfdf;
    transition: box-shadow 0.2s ease-in-out;
    /*   box-shadow: inset -3px -3px 6px whitesmoke, inset 3px 3px 6px #3f3f3fb7; */
}

.inputContainer label {
    position: absolute;
    height: 35px;
    width: 275px;
    padding: 5px;
    top: 2.5px;
    left: 2px;
    color: #898989;
    border-radius: 10px;
    /* box-shadow: -3px -3px 6px whitesmoke, 3px 3px 6px #3f3f3fb7; */
    transition: top 0.2s ease-in-out;
    cursor: text;
    user-select: none;
}

.inputContainer:nth-child(6) label {
    width: 99%;
}

.inputContainer .inp:placeholder-shown label {
    top: 2.5px;
    left: 2px;
}

.inputContainer .inp:focus + label,
.inputContainer .inp:not(:placeholder-shown) + label {
    top: -37.5px;
    left: 2px;
    color: var(--purple);
    box-shadow: -3px -3px 6px whitesmoke, 3px 3px 6px #3f3f3fb7;
}

.inputContainer .inp:focus,
.inputContainer .inp:not(:placeholder-shown){
    box-shadow: inset -3px -3px 6px whitesmoke, inset 3px 3px 6px #3f3f3fb7;
}

.btnContainer{
    height: 20px;
    width: auto;
    font-size: 16px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dfdfdf;
    border-radius: 0.75rem;
    box-shadow: -4px -4px 6px whitesmoke, 3px 3px 6px #3f3f3fb7;
}

.btn{
    text-decoration: none;
    color: var(--purple);
    text-transform: uppercase;
    border-radius: 0.75rem;
    background: #dfdfdf;
}

@media screen and (max-width: 768px){
    .formContainer{
        height: 500px;
        width: 300px;
    }
    .headerContainer{
        width: 250px;
    }

}
