/*
!** grid **!
body, main {
    display: grid;
    grid-gap: 1rem;
}

main {
    grid-template: "content"  "summary"  "actions"  "help" "promo";
}

@media (min-width: 50rem) {
    main {
        grid-template: "promo promo" "content summary"  "content actions"  "content help";
        grid-template-columns: auto 20rem;
    }
}
.summary {
    grid-area: summary;
}

.promo {
    grid-area: promo;
}

.actions {
    grid-area: actions;
}

.cart {
    grid-area: content;
}

.help {
    grid-area: help;
}

!** styling **!
@media (min-width: 50rem) {
    body, main {
        max-width: 60rem;
    }

    body {
        margin: auto;
    }
}
.summary {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 18px;
    background: #5c527a;
}
.summary .total {
    font-family: monospace;
    text-align: right;
}

.cart .item {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-family: monospace;
    font-size: 18px;
}
.cart .item:not(:last-child) {
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px dotted #60709f;
}
.cart .name {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
.cart .price {
    font-family: monospace;
    margin: 0;
}

@media (min-width: 50rem) {
    .cart {
        padding: 2rem 1rem;
    }

    .cart .name,
    .cart .price {
        font-size: 24px;
    }

    .cart .item:not(:last-child) {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }
}
.actions {
    background: #527a70;
    text-align: right;
}
.actions button {
    background: #26d9ac;
    box-shadow: 0 2px 4px #11221e;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
}

.promo {
    color: #3c3d29;
    background: #777a52;
    font-weight: 800;
}

@media (min-width: 50rem) {
    .promo {
        min-height: 0;
        text-align: center;
    }
}
.help {
    color: #c9a79c;
    background: #7a5c52;
}

header, footer, section {
    background: #414758;
    box-shadow: 0 4px 4px 2px rgba(22, 24, 29, 0.2);
    border-radius: 3px;
    padding: 1rem;
}

section {
    min-height: 3rem;
}

header, footer {
    box-shadow: none;
    color: #4c5367;
    background: #2e323e;
    border: 1px dashed #414758;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 1rem;
    font-weight: 800;
}

body {
    color: white;
    background: #323743;
    padding: 20px;
    font-family: "Heebo", sans-serif;
    font-weight: 300;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
*/

/*
body {
    margin: 0;
    background: #e0e5ec;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
*/

.container {
}

table.neumorphic{
    background-color: #dfdfdf;
    width: 100%;
    border-spacing: 0;
    border-radius: 10px;
    color: #212121;
    text-align: center;
    overflow: hidden;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.6);
}
table.neumorphic thead{
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6);
}
table.neumorphic th{
    padding: 7px;
}

table.neumorphic>tbody>tr>td {
    padding: 10px;
    font-size: 14px;
    position: relative;
}


table.neumorphic>tbody>tr:hover {
    padding: 20px;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.6);
}

table.neumorphic tr td:first-child::before {
    content: "";
    position: absolute;
    padding: 7px;
    top: 0;
    left: -5000px;
    width: 10000px;
    height: 100%;
    z-index: -10;
}

table.neumorphic td:hover::after {
    content: "";
    position: absolute;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.6);
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
}

.bar {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0px;
    border-radius: 0.75rem;
    background: #dfdfdf;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.6);
}

.btn {
    color: var(--purple);
    text-transform: uppercase;
    border-radius: 0.75rem;
    background: #dfdfdf;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.6);
}

.btn:focus{
    outline: none;
    transform: scale(0.95);
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1), -4px -4px 10px white, 4px 4px 10px 0 rgba(0, 0, 0, 0.1) inset, -4px -4px 10px white inset;
}
