<form class="container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <h1>Log In</h1>
        <div *ngIf="error" class="alert alert-danger">
            {{error}}
        </div>
        <mat-form-field>
            <input matInput
                   id="email-field"
                   type="text"
                   class="form-control"
                   placeholder="email"
                   formControlName="email"
                   required/>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="password"
                   class="form-control"
                   placeholder="password"
                   formControlName="password"
                   required/>
        </mat-form-field>
        <div>
            <button type="submit" [disabled]="!loginForm.valid" class=" btn btn-primary">
                Log in
            </button>
            <a routerLink="/sign_up" class="btn btn-link">Sign up</a>
        </div>
    </div>
</form>
