<!--<form class="container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <h1>Log In</h1>
        <div *ngIf="error" class="alert alert-danger">
            {{error}}
        </div>
        <mat-form-field>
            <input matInput
                   id="email-field"
                   type="text"
                   class="form-control"
                   placeholder="email"
                   formControlName="email"
                   required/>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="password"
                   class="form-control"
                   placeholder="password"
                   formControlName="password"
                   required/>
        </mat-form-field>
        <div>
            <button type="submit" [disabled]="!loginForm.valid" class=" btn btn-primary">
                Log in
            </button>
            <a routerLink="/sign_up" class="btn btn-link">Sign up</a>
        </div>
    </div>
</form>-->

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="segment">
        <h1>Log In</h1>
    </div>
    <div *ngIf="error" class="alert alert-danger">
        {{error}}
    </div>
    <label>
        <input type="text"
               placeholder="Email Address"
               formControlName="email"/>
    </label>
    <label>
        <input type="password"
               placeholder="Password"
               formControlName="password"/>
    </label>
    <button class="red" type="submit"><fa-icon [icon]="['fas', 'lock']"></fa-icon> Log in</button>
    <div class="segment">
        <button class="unit" type="button"><i class="icon ion-md-bookmark"></i></button>
        <button class="unit" type="button"><i class="icon ion-md-bookmark"></i></button>
        <button class="unit" type="button"><i class="icon ion-md-settings"></i></button>
    </div>
<!--    <div class="input-group">
        <label>
            <input type="text" placeholder="Email Address"/>
        </label>
        <button class="unit" type="button"><i class="icon ion-md-search"></i></button>
    </div>-->
</form>

